<div  #eloStats ></div>
<button (click)="showEloStat(typeJeu.BULLET)">BULLET</button>
<button (click)="showEloStat(typeJeu.BLITZ)">BLITZ</button>
<button (click)="showEloStat(typeJeu.RAPID)">RAPID</button>
<button (click)="showEloStat(typeJeu.DAILY)">DAILY</button>

<div #playFrequencyStats ></div>
<div class="yearBar" >
    <button (click)="frequencyLeftArrowClick()" >
        <img [src]="'/assets/images/left.png'" alt="leftButton">
    </button> 
    {{ annee }}
    <button (click)="frequencyRightArrowClick()" >
        <img [src]="'/assets/images/right.png'" alt="rightButton">
    </button>
</div>

