
/* Conteneur principal pour centrer les éléments */
.loading-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}




/* Style du texte de chargement */
.loading-text {
  color: #E0C7B3; /* Couleur beige pour le texte */
  font-size: 2rem; /* Taille du texte */
  margin-bottom: 20px; /* Espacement sous le texte */
  text-align: center; /* Centrer le texte */
  
}


/* Style de la barre de progression */
mat-progress-bar {
  width: 40%;
  height: 12px;
  margin-top: 20px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  background-color: #C4A992;
  border-radius: 5px;
}

/* Couleur de la progression à l'intérieur */
.mat-progress-bar .mat-progress-bar-fill {
  background-color: #332B26 ; 
  transition: width 1s ease;
}
