.chessground {
  width: 500px;
  height: 500px;
  position: relative;
}

/* Ces styles sont nécessaires pour Chessground */
cg-board {
  background-color: #bfcfdd;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}