<div id="review-container" class="center">
    <div id="board-outer-container" class="center">
        <svg
            id="evaluation-bar"
            width="40"
            height="730"
            xmlns="http://www.w3.org/2000/svg"
            fill="#fff"
        >
            <rect id="black-rect" x="0" y="0" width="40" height="365" fill="#000000" />
            <rect id="white-rect" x="0" y="365" width="40" height="365" fill="#ffffff" />
            <text id="white-eval-text" x="20" y="720" fill="#000000" font-size="16" text-anchor="middle">0.0</text>
            <text id="black-eval-text" x="20" y="20" fill="#fff" font-size="16" text-anchor="middle">0.0</text>
        </svg>
        
        <div id="board-inner-container" class="center">
            <div id="top-player-profile" class="profile">Black Player (?)</div>
            <canvas id="board" #board width="1280" height="1280"></canvas>
            <div id="bottom-player-profile" class="profile">White Player (?)</div>
        </div>
    </div>
</div>

<div id="review-panel">
    <div id="review-panel-main">
        <div id="review-panel-wrapper">
            <h1 class="logo" id="review-panel-title" class="white">
                <i class="knight fa-solid fa-chess-knight" style="color: #ffffff"></i> Game Report
            </h1>
            <div id="gameInputContainer" class="gameInputContainer">
                <textarea
                    id="pgn"
                    class="white"
                    cols="30"
                    rows="10"
                    spellcheck="false"
                    placeholder="Enter PGN..."
                ></textarea>
            </div>
            <button id="review-button" class="analyse">
                <i class="mag fa-solid fa-magnifying-glass" style="color: #ffffff"></i>
                <b>Analyse</b>
            </button>
        </div>
    </div>
</div>
