/* Centrage du contenu */
body, html {
  height: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #332B26; 
}

/* Conteneur principal */
.container {
  text-align: center;
  color: #E0C7B3; 
  font-family: 'Arial', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  padding-top: 60px;
}

/* Logo */
.logo {
  width: 350px; 
  margin-bottom: 20px;
}

/* Boutons */
.button-group {
  margin-bottom: 20px;
  display: flex;
  justify-content: center; 
  gap: 1px;  /* Espacement entre les boutons */
}

/* Initial styles */
.btn {
  background-color: #332B26; 
  color: #E0C7B3; 
  border: 2px solid transparent;
  padding: 15px 30px;
  margin: 3px;
  border-radius: 5px;
  font-weight: bold;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.1s ease; /* Animation de transition */
}

.btn:hover {
  background-color: #E0C7B3; 
  color: #332B26;
}

.btn.selected {
  background-color: #E0C7B3;  /* Changer la couleur lorsque sélectionné */
  color: #332B26;
}

.selected:hover {
  background-color: #C4A992; /* Couleur hover pour le bouton sélectionné */
}

/* Barre de recherche */
.search-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #E0C7B3;
  border-radius: 5px;
  padding: 8px;
  width: 450px;
  margin: 0 auto;
  position: relative; 
}

.search-input {
  border: none;
  outline: none;
  padding: 10px;
  flex-grow: 1;
  font-size: 1rem;
  background: transparent;
  width: 100%; /* Initialement à 100% de la largeur */
  transition: width 0.3s ease-in-out; 
}

.search-btn {
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
  color: #332B26;
  
}


/* Barre de chargement */
.loading-bar {
  width: 0; /* Initialement vide */
  height: 4px;
  background: #00f;
  position: absolute; /* Positionné dans la même zone que la barre de recherche */
  top: 0;
  left: 0;
  z-index: 9999;
  border-radius: 5px;
  transition: width 2s ease-in-out; /* Transition pour animer la barre de chargement */
}


